/* Color Theme Swatches in Hex */
$dg-gray-palette-1-hex: #5C5963;
$dg-gray-palette-2-hex: #62626E;
$dg-gray-palette-3-hex: #525357;
$dg-gray-palette-4-hex: #c2c7ca;
$dg-gray-palette-5-hex: #7f8185;

/* Color Theme Swatches in RGBA */
$dg-gray-palette-1-rgba: rgba(92,89,99, 1);
$dg-gray-palette-2-rgba: rgba(98,98,110, 1);
$dg-gray-palette-3-rgba: rgba(82,83,87, 1);
$dg-gray-palette-4-rgba: rgba(98,103,110, 1);
$dg-gray-palette-5-rgba: rgba(89,96,99, 1);

/* Color Theme Swatches in HSLA */
$dg-gray-palette-1-hsla: hsla(258, 5, 36, 1);
$dg-gray-palette-2-hsla: hsla(240, 5, 40, 1);
$dg-gray-palette-3-hsla: hsla(228, 2, 33, 1);
$dg-gray-palette-4-hsla: hsla(215, 5, 40, 1);
$dg-gray-palette-5-hsla: hsla(198, 5, 36, 1);
