/* Color Theme Swatches in Hex */
$dg-green-palette-1-hex: #00423D;
$dg-green-palette-2-hex: #00CFBD;
$dg-green-palette-3-hex: #008177;
$dg-green-palette-4-hex: #008F83;
$dg-green-palette-5-hex: #006960;

/* Color Theme Swatches in RGBA */
$dg-green-palette-1-rgba: rgba(0,66,61, 1);
$dg-green-palette-2-rgba: rgba(0,207,189, 1);
$dg-green-palette-3-rgba: rgba(0,129,119, 1);
$dg-green-palette-4-rgba: rgba(0,143,131, 1);
$dg-green-palette-5-rgba: rgba(0,105,96, 1);

/* Color Theme Swatches in HSLA */
$dg-green-palette-1-hsla: hsla(175, 100, 12, 1);
$dg-green-palette-2-hsla: hsla(174, 100, 40, 1);
$dg-green-palette-3-hsla: hsla(175, 100, 25, 1);
$dg-green-palette-4-hsla: hsla(174, 100, 28, 1);
$dg-green-palette-5-hsla: hsla(174, 100, 20, 1);
