$dog-hero-pink: (
    50 : #fde7ec,
    100 : #fac4ce,
    200 : #f79dae,
    300 : #f4758e,
    400 : #f15875,
    500 : #ef3a5d,
    600 : #ed3455,
    700 : #eb2c4b,
    800 : #e82541,
    900 : #e41830,
    A100 : #ffffff,
    A200 : #ffe3e6,
    A400 : #ffb0b7,
    A700 : #ff96a0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

