@import "~theme/colors-theme/gray";

/* .navbar */

.navbar {
  justify-content: initial;
  padding: 0.22rem 1.143rem;

  .navbar-brand {
    margin: auto;
  }

  .navbar-toggler {
    padding: 0;
    border: none;
  }

  i {
    font-size: 1.2rem;
  }
}

/* .search*/
.search {
  background: $dg-gray-palette-3-hex;
  padding: 1.143rem;

  .form-group {
    display: flex;
    width: 100%;
    margin-bottom: .5rem;

    .input-group {
      border-radius: 5px 0 0 5px;
      background-blend-mode: multiply;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));

      input {
        background: transparent;
        border: none;
        outline: none;
        color: white;
      }

      & + .input-group {
        border-radius: 0 5px 5px 0;
        margin-left: 2px;
      }
    }

    .btn-link {
      color: $dg-gray-palette-5-hex;
      padding-right: 0;
    }
  }

  i {
    font-size: 1.5rem;
  }
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;

  .btn {
    width: 43vw;
    font-size: 1rem;
    display: inline-flex;
    justify-content: center;
    line-height: 1.77;

    span {
      margin: 0 0 0 8px;
    }
  }
}
