@import "~theme/colors-theme/gray";
@import "~theme/colors-theme/pink";

/* .navbar */
.navbar {
  justify-content: initial;
  padding: 0.22rem 1.143rem;

  .navbar-brand {
    margin: auto;
  }

  .navbar-toggler {
    padding: 0;
    border: none;
  }

  i {
    font-size: 1.2rem;
  }
}

/* banners*/
.banner {
  padding: 32px 23px;

  p {
    color: white;
    margin: 0;

    strong {
      font-weight: bold;
    }
  }
}

.banner-blue {
  background: #0082ca;
  text-align: center;
  font-size: 1.142rem;
}

.banner-pink {
  background: $dg-pink-palette-3-hex;
  display: flex;
  font-family: var(--font-family-secondary);
  font-size: 1rem;

  p {
    margin-left: 5px;
  }
}

