$font-family: "dog-hero-icons" !default;
$font-path: "dog-hero-icons-fonts" !default;

$icon-calendar: "\e900";
$icon-exclusive: "\e901";
$icon-favorite: "\e902";
$icon-filter-negative: "\e903";
$icon-flat: "\e904";
$icon-menu: "\e905";
$icon-repeat-guests: "\e906";
$icon-search-negative: "\e907";
$icon-star-filled: "\e908";

