$icon-location: "\e909";
$icon-calendar: "\e900";
$icon-exclusive: "\e901";
$icon-favorite: "\e902";
$icon-filter-negative: "\e903";
$icon-flat: "\e904";
$icon-menu: "\e905";
$icon-repeat-guests: "\e906";
$icon-search-negative: "\e907";
$icon-star-filled: "\e908";

@font-face {
  font-family: 'Dog Hero Icons';
  src:
    url('assets/dog-hero-icons-fonts/dog-hero-icons.ttf') format('truetype'),
    url('assets/dog-hero-icons-fonts/dog-hero-icons.woff') format('woff'),
    url('assets/dog-hero-icons-fonts/dog-hero-icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Dog Hero Icons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-location {
  &:before {
    content: $icon-location;
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar;
  }
}
.icon-exclusive {
  &:before {
    content: $icon-exclusive;
  }
}
.icon-favorite {
  &:before {
    content: $icon-favorite;
  }
}
.icon-filter-negative {
  &:before {
    content: $icon-filter-negative;
  }
}
.icon-flat {
  &:before {
    content: $icon-flat;
  }
}
.icon-menu {
  &:before {
    content: $icon-menu;
  }
}
.icon-repeat-guests {
  &:before {
    content: $icon-repeat-guests;
  }
}
.icon-search-negative {
  &:before {
    content: $icon-search-negative;
  }
}
.icon-star-filled {
  &:before {
    content: $icon-star-filled;
  }
}
