<form class="search">
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <button class="btn btn-link" type="button">
          <i class="icon-location"></i>
        </button>
      </div>
      <input type="text" class="form-control" placeholder="Endereço" aria-label="Endereço" aria-describedby="basic-addon1">
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-append">
        <button class="btn btn-link" (click)="from.toggle()" type="button">
          <i class="icon-calendar"></i>
        </button>
      </div>
      <input class="form-control" placeholder="dd/mm/yyyy" name="from" [(ngModel)]="model" ngbDatepicker #from="ngbDatepicker">
    </div>

    <div class="input-group">
      <div class="input-group-append">
        <button class="btn btn-link" (click)="to.toggle()" type="button">
          <i class="icon-calendar"></i>
        </button>
      </div>
      <input class="form-control" placeholder="dd/mm/yyyy" name="to" [(ngModel)]="model" ngbDatepicker #to="ngbDatepicker">
    </div>

  </div>

  <div class="buttons">
    <button type="button" class="btn btn-secondary">
        <i class="icon-filter-negative"></i>
        <span>Filtros</span>
    </button>
    <button type="button" class="btn btn-primary">
        <i class="icon-search-negative"></i>
        <span>Buscar</span>
    </button>
  </div>

  <nouislider name="range" [connect]="true" [min]="0" [max]="100" [(ngModel)]="someRange" [tooltips]="true"></nouislider>
</form>

