@import "~theme/colors-theme/gray";
@import "~theme/colors-theme/pink";

.search {
  background: $dg-gray-palette-3-hex;
  padding: 1.143rem;

  .form-group {
    display: flex;
    width: 100%;
    margin-bottom: .5rem;

    .input-group {
      border-radius: 5px 0 0 5px;
      background-blend-mode: multiply;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));

      input {
        background: transparent;
        border: none;
        outline: none;
        color: white;
        height: initial;
      }

      & + .input-group {
        border-radius: 0 5px 5px 0;
        margin-left: 2px;
      }
    }

    .btn-link {
      color: $dg-gray-palette-5-hex;
      padding-right: 0;
      text-decoration: none;
    }
  }

  i {
    font-size: 1.5rem;
  }
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;

  .btn {
    width: 43vw;
    font-size: 1rem;
    display: inline-flex;
    justify-content: center;
    line-height: 1.77;

    span {
      margin: 0 0 0 8px;
    }
  }
}

.filter-title {
  font-weight: normal;
  border-bottom: 2px solid $dg-pink-palette-3-hex;
  padding-bottom: 1rem;
  margin-bottom: 0;
  text-align: center;
}

.mat-subheader {
  background: #f1f1f1;
}

.range {
  margin: 2rem 0;

  form {
    padding: 1rem 1rem 0 0;
    width: 200px;
  }

  .btn {
    float: right;
  }
}


/deep/ .noUi-base {
  width: 94%;
}

/deep/ .noUi-connects {
  width: 101%;
}

/deep/ .noUi-target {
  background: #cdcdcd;
  border: none;
  box-shadow: none;
}

/deep/ .noUi-horizontal {
  height: 3px;

  .noUi-connect {
    background: $dg-pink-palette-3-hex;
  }

  .noUi-handle {
    background: $dg-pink-palette-3-hex;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-shadow: none;
    border: none;
    left: -5px;
    top: -6px;
    outline: none;
    transition: width .2s cubic-bezier(0.215, 0.610, 0.355, 1.000),
                height .2s cubic-bezier(0.215, 0.610, 0.355, 1.000),
                left .2s cubic-bezier(0.215, 0.610, 0.355, 1.000),
                top .2s cubic-bezier(0.215, 0.610, 0.355, 1.000);

    &:after, &:before {
      display: none;
    }
  }

  .noUi-tooltip {
    background-color: $dg-pink-palette-3-hex;
    color: white;
    border: none;
    outline: none;
  }
}
