@import "~theme/colors-theme/gray";
@import "~theme/colors-theme/pink";

.dh-card {
  .btn-outline-secondary {
    color: $dg-pink-palette-3-hex;
    border: solid 1px rgba(0, 0, 0, 0.12);
    font-size: .8rem;
    font-weight: bold;
  }
}

.alert {
  padding: 6px;
}

.dh-card-title {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.66);
  font-weight: bold;
}

.dh-card-subtitle {
  color: rgba(0, 0, 0, 0.42);
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* rating */
.rating {
  font-size: 1rem;
  color: $dg-pink-palette-3-hex;
}

/deep/ .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}

/* favorite */
.btn-link {
  color: $dg-gray-palette-4-hex;
  padding: 0;
  text-decoration: none;
  font-size: 1.3rem;
  cursor: pointer;
}

/* price */
.price {
  color: rgba(0, 0, 0, 0.42);

  span {
    color: $dg-pink-palette-3-hex;

    span {
      font-weight: bold;
      font-size: 2rem;
    }
  }
}


